    <footer class="mt-4">
        <div class="footer-content">
            <div class="column copyright">
                © Dastanaron Team
            </div>
            <div class="current-year">
                2020
            </div>
        </div>
    </footer>
    <script src="./assets/js/bundle.js"></script>
  </body>
</html>
