<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="<%=description%>" />
    <link rel="shortcut icon" href="./assets/favicon/favicon.ico" />
    <link rel="stylesheet" href="./assets/css/style.bundle.css" />
    <title><%=title%></title>
  </head>
  <body>
  <div id="menu" class="menu-overflow">
    <div class="menu">
      <ul class="product-menu">
        <li>
          <a href="#">
            <img src="./assets/image/nn.svg" /> Realty image predictor
          </a>
        </li>
        <li>
          <a href="#">
            <img src="./assets/image/webp-ico.svg" /> WebPConvertor
          </a>
        </li>
      </ul>
      <ul class="other-menu">
        <li>
          <a href="#">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            About
          </a>
        </li>
        <li>
          <a href="#">
            Contacts
          </a>
        </li>
      </ul>
    </div>
  </div>
    <header>
      <div class="header-content">
        <div class="logo">
          <a href="/">
            <img src="./assets/image/logo.svg" />
          </a>
        </div>
        <div class="login">
          <a href="/signin">
            <img src="./assets/image/login.svg" />
          </a>
        </div>
        <div id="burgerMenu" class="menu">
          <!--<img src="./assets/image/burger.svg" />!-->
          <div class="burger">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
          </div>
        </div>
      </div>
    </header>
