<% var data = {
title: "Daserver | Not Found",
description: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container mt-3">
    <div class="min-vh-100">
        <h1>Упс</h1>
        <p>Такая страница не найдена, возможно она находится в разработке, а может, вы перешли по битой ссылке. Мы это обязательно исправим.</p>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>

