<% var data = {
  title: "Daserver | Solutions for web",
  description: "Daserver, microservices for your business",
  addedStyles: [
    './assets/css/main.css',
  ],
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container mt-5 main-page">
  <div class="row mb-5">
    <div class="col-md-6">
      <h1>Daserver! Our Products for Yours services</h1>
      <p class="sub-title-text">
        Hello, we are a group of developers of cloud solutions for various services. We have a very diverse experience in the development of various platforms and now we want to make platforms for you.
      </p>
    </div>
    <div class="col-md-6">
      <img src="./assets/image/cloud.png" />
    </div>
  </div>
  <h2 class="text-center">Ready solutions</h2>
  <div class="row ready-solutions mb-5">
    <div class="col-md-4">
      <a href="#">
        <div class="rs-logo">
          <img src="./assets/image/nn.svg" />
        </div>
        <div class="rs-content">
          Realty image predictor
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <div class="rs-logo">
          <img src="./assets/image/webp-ico.svg" />
        </div>
        <div class="rs-content">
          Webp Convertor
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="#">
        <div class="rs-logo">
          <img src="./assets/image/users.svg" />
        </div>
        <div class="rs-content">
          Auth Service
        </div>
      </a>
    </div>
  </div>
  <h2 class="text-center mb-5">Custom development</h2>
  <div class="programming-languages mt-5 mb-5">
    <div class="programming-languages-element">
      <img alt="golang" src="./assets/image/programming/go.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="nodejs" src="./assets/image/programming/nodejs.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="javascript" src="./assets/image/programming/js.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="react" src="./assets/image/programming/react.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="vuejs" src="./assets/image/programming/vue.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="svetle" src="./assets/image/programming/svetle.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="electron" src="./assets/image/programming/electron.svg" />
    </div>
    <div class="programming-languages-element">
      <img alt="php" src="./assets/image/programming/php.svg" />
    </div>
  </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>

