$primary: #1ABA7A;
$success: #17B978;
/*$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
 */
$link-color: #17B978;
$grey-link-color: #BFBFBF;
$text-color: #000;
$white: #fff;
$btn-border-radius: 0;

$font-family-base: Roboto, serif;

$fa-font-path: "../fonts/font-awesome";