@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Roboto-BlackItalic.ttf);
}