@media (max-width: 600px) {
  body {
    header {
      .header-content {
        .login {
          max-width: 45px;
          grid-column-start: 8;
        }

        .menu {
          max-width: 45px;
          background-size: contain;
          grid-column-start: 12;
        }
      }
    }
  }
}

@media (max-width: 250px) {
  body {
    .menu-overflow {
      &.active {
        top: 87px;
      }
    }
  }
}