$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;

@import "fonts";
@import "variables";
@import "~bootstrap/scss/bootstrap";

body {
  img, svg {
    max-width: 100%;
  }
  .menu-overflow {
    position: fixed;
    top: -1000px;
    right: 0;
    background: #fff;
    z-index: 5;
    padding: 1rem;
    transition: top .5s;
    &.active {
      top: 154px;
    }
    .menu {
      font-size: 20px;
    }
    ul.product-menu {
      padding: 0;
      li {
        list-style-type: none;
        a {
          color: $grey-link-color;
        }
        img {
          height: 1rem;
          filter: grayscale(100%);
        }
      }
    }
    ul.other-menu {
      padding: 0;
      li {
        margin-left: 1.1rem;
        list-style-type: none;
        a {
          color: $grey-link-color;
        }
      }
    }
  }
  header {
    max-height: 154px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    margin-bottom: 4rem;
    .header-content {
      display: grid;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
      .logo {
        grid-column-start: 1;
      }
      .login {
        grid-column-start: 11;
      }
    }
    .menu {
      cursor: pointer;
      .burger {
        .burger-line {
          height: 15px;
          border: 1px solid #17b978;
          background: #fff;
          width: 75px;
          transition: all .5s;
          &:nth-child(2) {
            margin: .5rem 0;
          }
        }
        &.active {
          .burger-line {
            &:nth-child(1) {
              transform: rotate(45deg) translate(10px, 10px);
            }
            &:nth-child(2) {
              display: none;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
  .main-page {
    h1 {
      font-size: 48px;
      font-weight: 900;
    }
    h2 {
      font-size: 36px;
      font-weight: 700;
    }
    .sub-title-text {
      font-size: 24px;
      line-height: 1.2;
      margin-top: 3rem;
    }
    .ready-solutions {
      align-items: center;
      .rs-logo {
        text-align: center;
        margin-bottom: 1rem;
      }
      .rs-content {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
      }
    }
    .programming-languages {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-around;
      align-items: center;
    }
  }

  footer {
    height: 124px;
    border-top: 1px solid #000;
    padding: 0 3rem;
    .footer-content {
      display: flex;
      justify-content: space-between;
      height: inherit;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
    }
  }
}

@import "media";